.schedule-container {
    display: flex;
}

.gradient-container {
    background: linear-gradient(0deg, #050a24, #050a24), #d9d9d9;
    width: 50%;
    height: 100vh;
    position: relative;
}

.left-gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}

.right-gradient {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.schedule-logo {
    margin-top: 50px;
    margin-left: 100px;
}

.schedule-text {
    color: #fff;
    position: absolute;
    bottom: 30px;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-style: italic;
}

.schedule-form {
    margin-top: 10%;
    margin: auto;
}

.schedule-flight-text {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.schedule-info input {
    width: 100%;
}