.memories-container {
    padding: 50px;
    text-align: center;
}

.memories-container h4 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}

.memories-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.memories-card:nth-child(2) {
    margin-top: 50px;
}

.memories-card:last-child {
    margin-top: 50px;
}

@media (max-width: 600px) {
    .memories-container h4 {
        font-size: 30px;
    }
}