.newsletter-container {
    background: rgba(49, 62, 247, 0.05);
    padding: 50px;
}

.newsletter-container h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #011736;
    line-height: 50px;
}

.newsletter-container form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.newsletter-container input {
    padding: 15px 30px 15px 30px;
    width: 350px;
    border: none;
    border-radius: 20px;
}

.newsletter-container button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #313EF7;
    color: #FFF;
}