.newsletter-container {
    background: rgba(49, 62, 247, 0.05);
    padding: 50px;
    width: 100%;
    overflow: hidden !important;
}

.newsletter-container h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #011736;
    line-height: 50px;
}

.newsletter-container form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
}

.newsletter-container input {
    padding: 15px 30px 15px 30px;
    width: 400px;
    border: none;
    border-radius: 20px;
    position: relative;
}

.newsletter-container button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #313EF7;
    color: #FFF;
    position: absolute;
    margin-left: 305px;
    margin-top: 5px;
}

.newsletter-container button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .newsletter-container h4 {
        font-size: 23px;
    }
    .newsletter-container button {
        margin-left: 210px;
    }
}