.cta-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.cta-details h5 {
    color: #313EF7;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 30px;
}

.cta-details h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.cta-details p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    font-size: 17px;
}