.best-traveler-container {
    padding: 50px;
    text-align: center;
}

.best-traveler-container h4 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}

.best-traveler-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.best-traveler-card {
    height: 330px;
    width: 230px;
    background: #FFF;
    box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.03);
    border-radius: 120px;
}

.best-traveler-card .best-traveler-location {
    width: 230px;
}

.best-traveler-card .best-traveler-profile {
    width: 60px;
    margin-top: -20px;
}

.best-traveler-card h5 {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.best-traveler-card p {
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}