.hero-container {
    background: url("../../Assets/images/heropage-background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.hero-menu {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-menu img {
    width: 150px;
    margin-right: 37%;
}

.hero-menu ul {
    display: flex;
    align-items: center;
}

.hero-menu ul li {
    list-style: none;
    color: #FFF;
    margin: 0px 20px 0px 20px;
    transition: ease-in-out 0.6s;
}

.hero-menu ul li:hover {
    cursor: pointer;
    color: #313FF7;
}

.hero-menu button {
    background: transparent;
    color: #FFF;
    border: 2px #FFF solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.hero-menu button:hover {
    cursor: pointer;
}

.hero-aviation-aircraft {
    display: flex;
    justify-content: center;
}

.hero-aviation-aircraft img {
    margin-top: 70px;
}

.hero-page-text {
    text-align: center;
}

.hero-page-text h4 {
    color: #FFF;
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-page-text p {
    color: #FFF;
    font-size: 11px;
}