.hero-container {
    background: url("../../Assets/images/heropage-background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.hero-container .menu-bar {
    color: #FFF;
    display: none;
    font-size: 18px;
}

.hero-container .menu-bar:hover {
    cursor: pointer;
}

.menu-drawer {
    background: #010223 !important;
    color: #FFF !important;
}

.menu-drawer ul li {
    list-style: none;
    margin: 20px 0px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.menu-drawer .closeIcon {
    margin-bottom: 50px;
    font-size: 18px;
}

.menu-drawer .closeIcon:hover {
    cursor: pointer;
}

.menu-drawer button {
    background: transparent;
    color: #FFF;
    border: 2px #FFF solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.menu-drawer button:hover {
    color: #313FF7;
}

.hero-menu {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-menu img {
    width: 150px;
    margin-right: 37%;
    opacity: 0;
}

.hero-menu ul {
    display: flex;
    align-items: center;
}

.hero-menu ul li {
    list-style: none;
    color: #FFF;
    margin: 0px 20px 0px 20px;
    transition: ease-in-out 0.6s;
    font-family: "Montserrat", sans-serif;
}

.hero-menu ul li:hover {
    cursor: pointer;
    color: #313FF7;
}

.hero-menu ul li.active {
    border-bottom: #313FF7 3px solid;
}

.hero-menu button {
    background: transparent;
    color: #FFF;
    border: 2px #FFF solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    transition: ease-in .5s;
}

.hero-menu button:hover {
    cursor: pointer;
    color: #313FF7;
}

.hero-aviation-aircraft {
    display: flex;
    justify-content: center;
}

.hero-aviation-aircraft img {
    margin-top: 70px;
    opacity: 0;
}

.hero-page-text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.hero-page-text h4 {
    color: #FFF;
    font-size: 40px;
    margin-bottom: 30px;
    opacity: 0;
}

.hero-page-text p {
    color: #FFF;
    font-size: 14px;
    opacity: 0;
}

.booking-container {
    background-color: #FFF;
    height: 210px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 20px 40px rgba(0, 0, 0, 0.05);
    margin: 90px;
    position: relative;
}

.booking-category {
    background: #FFF;
    height: 50px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: -50px;
}

.booking-features-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.booking-features-details .date-picker {
    border: none;
}

.booking-features-details .date-picker:hover {
    cursor: pointer;
}

.booking-features-details .date-picker::placeholder {
    color: #000;
}

.booking-category-list {
    display: flex;
    justify-content: flex-start;
}

.booking-category-list h5 {
    font-size: 17px;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
}

.booking-category div {
    margin: 0px 30px 0px 0px;
}

.booking-category div:hover {
    cursor: pointer;
}

.booking-category div h5 {
    padding: 0px 20px;
    font-family: "Montserrat", sans-serif;
}

.booking-category div.active {
    background: #313FF7;
    color: #FFF;
    height: 50px;
    border-top-left-radius: 20px;
}

.booking-features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.booking-features-details {
    display: flex;
    margin-top: 60px;
}

.booking-features-details img {
    margin-right: 20px;
}

.booking-features-details h5 {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.booking-features-details h5 span {
    font-size: 11px;
    font-weight: 300;
}

.book-button {
    display: block;
    margin: 20px auto;
    background: #313FF7;
    color: #FFF;
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 26px;
    box-shadow: 3px 3px 15px 10px rgba(70, 70, 232, 0.166);
}

.book-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .hero-aviation-aircraft img {
        width: 350px;
    }
    .hero-menu ul {
        display: none;
    }
    .hero-menu button {
        display: none;
    }
    .booking-category {
        width: 360px;
    }
    .booking-container {
        width: 360px;
        margin: 80px auto 20px auto;
        height: 450px;
        border-top-right-radius: 0px;
    }
    .booking-features {
        flex-direction: column;
        padding: 80px 0px 0px 30px;
    }
    .booking-category-list {
        flex-direction: column;
    }
    .booking-features-details {
        margin-top: 10px;
    }
    .hero-page-text p {
        font-size: 12px;
    }
    .hero-menu img {
        width: 150px;
        margin-right: 50%;
    }
    .hero-container .menu-bar {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .hero-aviation-aircraft img {
        width: 100%;
    }
    .booking-container {
        height: 350px;
    }
    .hero-menu img {
        margin-right: 10%;
    }
    .hero-menu ul li {
        margin: 0px 8px 0px 8px;
    }
    .hero-menu button {
        padding: 5px 10px 5px 10px;
    }
}

@media only screen and (min-width: 992px) {
    .booking-container {
        height: 210px;
    }
    .hero-menu img {
        width: 150px;
        margin-right: 37%;
    }
    .hero-menu button {
        padding: 10px 20px 10px 20px;
    }
    .hero-menu ul li {
        margin: 0px 20px 0px 20px;
    }
}

@media only screen and (max-width: 400px) {
    .hero-page-text h4 {
        font-size: 20px;
    }
}