.book-flight-container {
    background: #010223;
    height: 650px;
    padding: 40px;
}

.book-flight-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.book-flight-text-image h4 {
    color: #FFF;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.book-flight-text-image p {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}