.book-flight-container {
    background: #010223;
    height: 650px;
    padding: 40px;
}

.book-flight-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.book-flight-text-image h4 {
    color: #FFF;
}

.book-flight-text-image p {
    color: #FFF;
}