.features-container {
    margin-top: 200px;
    padding: 50px;
}

.our-feature-main-text {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.features-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-card {
    margin-top: 70px;
    height: 330px;
    width: 230px;
    background: #FFF;
    box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.03);
    border-radius: 120px;
    text-align: center;
    padding: 10px;
}

.feature-card:hover {
    cursor: pointer;
}

.feature-card h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.feature-card p {
    font-family: "Montserrat", sans-serif;
}

.feature-card:last-child {
    margin-top: 30px;
}

.feature-card:nth-child(2) {
    margin-top: 30px;
}

.feature-card img {
    margin-top: 30px;
}

.feature-card h5 {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 800;
}

.feature-card a {
    background: #000;
    padding: 13px;
    border-radius: 50%;
}

.feature-card .link-icon {
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
    padding-top: 5px;
}

.feature-card p {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .features-container {
        margin-top: 50px;
    }
    .feature-card {
        margin-top: 20px;
    }
    .our-feature-main-text {
        margin-top: 110px;
    }
}