.footer-container {
    background: url("../../Assets/images/Footer-background.png");
    height: 350px;
    padding: 50px;
}

.footer-content-details {
    display: flex;
    justify-content: space-evenly;
}

.footer-content {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}

.footer-content .footer-logo {
    margin-bottom: 20px;
}

.footer-container h4 {
    margin-bottom: 20px;
}