.footer-container {
    background: url("../../Assets/images/Footer-background.png");
    height: 350px;
    padding: 50px;
}

.footer-content-details {
    display: flex;
    justify-content: center;
    gap: 170px;
}

.footer-content {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}

.footer-content .footer-logo {
    margin-bottom: 20px;
}

.footer-container h4 {
    margin-bottom: 20px;
}

.footer-container ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-container .footer-divider {
    display: block;
    margin: 20px auto;
}

.footer-container .footer-copyright {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}