.footer-container {
    background: url("../../Assets/images/Footer-background.png");
    padding: 50px;
}

.footer-content-details {
    display: flex;
    justify-content: center;
    gap: 170px;
    flex-wrap: wrap;
}

.footer-content {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}

.footer-content .footer-logo {
    margin-bottom: 20px;
}

.footer-container h4 {
    margin-bottom: 20px;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
}

.footer-circle {
    width: 30px;
    height: 30px;
    background: #FFF;
    color: #17181C;
    border-radius: 50%;
    margin-top: 20px;
}

.footer-circle:hover {
    cursor: pointer;
}

.footer-circle .icon {
    display: block;
    margin: 7px auto;
}

.footer-container ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-container ul li:hover {
    cursor: pointer;
}

.footer-container .footer-divider {
    display: block;
    margin: 20px auto;
}

.footer-container .footer-copyright {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

@media(max-width: 600px) {
    .footer-content-details {
        flex-direction: column;
        gap: 40px;
    }
    .footer-container .footer-divider {
        width: 400px;
    }
}