.testimonial-container {
    padding: 50px;
    text-align: center;
}

.testimonial-customers {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial-container h5 {
    color: #313EF7;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.testimonial-container h3 {
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    color: #011736;
    font-size: 40px;
}

.swiper-pagination {
    display: none;
}

.mySwiper {
    background: #FFF;
    box-shadow: 2px 2px 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 450px;
    height: 200px;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    background: #313EF7;
    color: #FFF;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 30px;
    position: absolute;
}

.mySwiper .swiper-button-prev {
    left: 76%;
}

.mySwiper .swiper-button-next {
    right: 2%;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
    font-size: 15px;
}

.customer-details {
    display: flex;
    padding: 30px;
}

.testimonial-details h5 {
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-left: 30px;
}

.customer-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.customer-name-rating h5 {
    margin: 4px;
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.testimonial-details h5 {
    font-style: italic;
}

.testimonial-details h5::after {
    content: "`";
}

.testimonial-details h5::before {
    content: "`"
}

@media(max-width: 600px) {
    .testimonial-customers .testimonial-main {
        width: 400px;
    }
}